.image{
  width:1005px;
  height:1005px;
  border-radius: 22px 22px 0px 0px;

}

.card{
  border: 2px solid white;
  background-color: #fff;
  max-height: 60vh;
  font-size: 40px;
  text-align: left;
  border-radius: 15px;
  margin-top: 200px;
}
.btn{
  font-size: 50px;
  border-radius: 2px;
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:space-evenly;
  background-color: #ded1d1;
  flex-wrap: wrap;


}
.card:hover{
  background-color: #d4c1c1;
  transition-timing-function: ease-in;
}

/* 
git remote add origin git@github.com:sahoonishi/Netflix.git
git branch -M main
git push -u origin main */